# Database Configuration
DB_HOST=mysql
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root_password
DB_NAME=aplis_test

# Service Ports
PHP_PORT=9000
NODE_PORT=3000
NGINX_PORT=9000
FRONTEND_PORT=5174
PHPMYADMIN_PORT=8080